[submodule "group-awesome"]
	path = group-awesome
	url = https://github.com/SJSU-CMPE-264/group-awesome.git
	branch = master
[submodule "group-1"]
	path = group-1
	url = https://github.com/SJSU-CMPE-264/group-1.git
